:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'vendor/daterangepicker';
  @import 'burger-menu';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  //body {
  //  padding-top: 70px;
  //}

  //.navbar-header {
  //  float: none;
  //}
  //
  //.navbar-toggle {
  //  display: block;
  //}
  //
  //.navbar-collapse.collapse {
  //  display: none !important;
  //}
  //
  //.navbar-nav {
  //  float: none !important;
  //  > li {
  //    float: none;
  //  }
  //}
  //
  //.navbar-collapse.collapse.in {
  //  display: block !important;
  //}
}
