// Background color for `<body>`
$body-bg: #f9f9f9;
// Global text color on `<body>`
$text-color: #484848;
$dark-text: #2d2d2d;
// Global textual link color
$link-color: #c05b4d;
// PAG Blue
$pag_blue: #0066a0;
$header-background: #fff;
$footer-background: #fff;
// Other colors
$pag-orange: #D24726;
$pag-orange-light: #DC572E;
$pag-green: #008A00;
$pag-green-light: #00A600;
$pag-purple: #8C0095;
$pag-purple-light: #A700AE;
$pag-darkpurple: #5133AB;
$pag-darkpurple-light: #643EBF;
$pag-red: #AC193D;
$pag-red-light: #BF1E4B;
$pag-skyblue: #094AB2;
$pag-skyblue-light: #0A5BC4;
$pag-yellow: #F3B200;
$pag-highlight: #E9E9E9;

//
// Jumbotron
// -----------------------------------------------------------------------------

$jumbotron-heading-color: #61DAFB;
$jumbotron-color: #E9E9E9;
$jumbotron-bg: #2d2d2d;
$jumbotron-font-size: 3em;

//
// Home Page Content
// -----------------------------------------------------------------------------
$info-box-border: #2d2d2d;

//
// Tabs
// -----------------------------------------------------------------------------
$tab-border-color: #ddd;

//
// Tables
$pag-tr-odd: #b8d1f3;
$pag-tr-even: #dae5f4;