/// <reference path="variables.scss" />
.omni-add-case{
    margin-left: 15px;
    margin-bottom: 4px;
}

.omni-progress-container {
  height: 300px;
  width: 300px;
}

//Tasks
.omni-task-list{
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.omni-task-row {
  width: 100%;
  min-height: 20px !important;
  padding: 6px;
      .omni-task-link{
          padding: 3px;
          cursor: pointer;
      }
}

  .omni-task-list-item-complete{
      text-decoration: line-through !important;
      opacity: 0.8;
      span{
          text-decoration: line-through !important;
      }
  }

  .omni-success {
    font-size: 2em;
    color: $pag-green;
  }

  .omni-failure {
    font-size: 2em;
    color: $pag-red;
  }
