/// <reference path="variables.scss" />
footer{
    width:100%;
    height:30px;
    border-top:1px solid $pag-blue;
    padding-left:20px;
    padding-right:20px;
    /*background-color: $pag-orange !important;*/
}
