/// <reference path="variables.scss" />
/*header{
    border-bottom: 1px solid $pag_blue !important;
    background-color: $header-background;
    //padding-top:10px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:57px;
    z-index:1;
}
*/
