/// <reference path="variables.scss" />
/*.omni-navbar-top{
    //position:fixed;
    top:5px;
    width:60%;
    background-color: $header-background;
}

.omni-navbar-brand{
    display: inline-block;
    vertical-align: bottom;
    z-index:3 !important;
}

.logo--image {
    height: 38px;
    width: 38px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: bottom;
}

.logo--text{
    display:inline-block;
    text-decoration: none;
    color: $dark-text !important;
    margin-left:10px;
    font-weight:700;
    font-size:2.3em;
}*/

.navbar {
  height: 40px !important;
  min-height: 40px; 
}

.navbar-brand {
  padding-top:0;
  font-size: 2.6em;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  img {
    display:inline;
    vertical-align:text-bottom;
  }
}
