/// <reference path="variables.scss" />
.omni-heading1{
    font-size: 1.4em;
    line-height:1em;
    font-weight: 700;
    margin-left:10px;
}

.omni-heading2{
    font-size: 1.2em;
    line-height:1em;
    font-weight: 700;
    margin-left:10px;
}

.omni-heading3{
    font-size: 1.0em;
    line-height:1em;
    font-weight: 700;
    margin-left:10px;
}

.omni-heading4{
    font-size: 0.9em;
    line-height:1em;
    font-weight: 700;
    margin-left:10px;
}

.omni-title{
    font-size: 2em;
    font-weight: 700;
    line-height:2em;
    margin-left: 15px;
}

.omni-label{
    font-size:1em;
    font-weight: 700;
}

.omni-task-heading{
    font-weight: 400;
    font-size: 1.3em;
}

.omni-icon-large{
    font-size: 4.2em;
    margin-bottom: 5px;
}

// colored text
.omni-orange{
    color: $pag-orange;
    &:hover{
        color: $pag-orange-light;
    }
}

.omni-green{
    color: $pag-green;
    &:hover{
        color: $pag-green-light;
    }
}

.omni-red{
    color: $pag-red;
    &:hover{
        color: $pag-red-light;
    }
}

.omni-skyblue{
    color: $pag-skyblue;
    &:hover{
        color: $pag-skyblue-light;
    }
}

.omni-darkpurple{
    color: $pag-darkpurple;
    &:hover{
        color: $pag-darkpurple-light;
    }
}

.omni-purple{
    color: $pag-purple;
    &:hover{
        color: $pag-purple-light;
    }
}

.omni-yellow{
    color: $pag-yellow;
    &:hover{
        color: $pag-yellow;
    }
}
